# PyCharm directories
.idea/*
huracan/.idea/*
model_verification/.idea/*

# pycache
__pycache__/*

huracan/__pycache__/*
huracan/thermo/__pycache__/*
huracan/components/__pycache__/*
huracan/components/power/__pycache__/*

huracan/.pytest_cache/*
huracan/thermo/.pytest_cache/*
huracan/components/.pytest_cache/*
huracan/components/power/.pytest_cache/*

tests/__pycache__/*
tests/utils/__pycache__/*
tests/verification/__pycache__/*

tests/.pytest_cache/*
tests/utils/.pytest_cache/*
tests/verification/.pytest_cache/*
