# PyCharm directories
.idea/*
model_verification/.idea/*
huracan/.idea/*

# pycache
__pycache__/*
model_verification/__pycache__/*
huracan/__pycache__/*
huracan/.pytest_cache/*
huracan/thermo/__pycache__/*
huracan/thermo/.pytest_cache/*
verification/__pycache__/*
